body {
	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/45degree_fabric.png);
}



#content1  {
	width: 85%;
	margin: 0 auto;
	background-image: none;
	background: #ffffff;

}
#content2 {
	width: 85%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.absolute {
	
	background:  #4aaaa5;
	color: #ffffff;
	position: absolute;
	height: 50px;
	text-align: center;
	width: 275px;
	left: 25px;
	bottom: 25px;
	float: left;
	padding-top: 10px;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

.relative {
	
	position: relative;
	margin-bottom: 20px;
	float: left;
}
	



header {
	height: 80px;
	font-size: 40px;
	text-align: center;
	background: #4aaaa5;
	width: 300px;
	padding-top: 25px;
	float: left;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
nav {
	height: 80px;
	font-size: 20px;
	text-align: center;
	width: 40%;
	float: right;
	padding-top: 20px;

}
section {
	float: left;
	width: 68%;
	border: 1px solid #dddddd;
	background: #ffffff;
	
}

form {
	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #777777;
	line-height: 2;


}
p {
	padding-right: 10px;
	color: #777777;
	padding-left: 10px;
	
}
aside {
	width: 30%;
	border: 1px solid #dddddd;
	background: #ffffff;
	height: 200px;
	float: right;

}

footer {
	height: 80px;
	background: #666666;
	font-size: 16px;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	padding-top: 20px;
	color: #dddddd;

}


.main {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dddddd;
	padding-left: 25px;
	padding-bottom: 20px;

}

.aside {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dddddd;
	text-align: center;
	padding-bottom: 20px;

}

.nav2 {
	display: inline;
	border-right: 1px solid #777777;
	padding-right: 10px;
	text-decoration: none;
	color: #777777;



}





.nav2:hover {
	color: #111;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

} 

.nav2:last-child {
	border-right: none;

}

.icons {
	
	padding: 5px;
	width: 70px;
	height: 70px;
	max-width: 100%;
}
.connect {
	display: inline;

	
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#bio-image {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}


 input {
   width: 90%;
   height: 25px;

 }
.submit {
	width: 115px;
	height: 40px;
	background: #4aaaa5;
	color: #ffffff;
	font-size: 20px;
	border: none;
 }

 .portfolio-image {
 	width: 275px;
 	padding: 25px;


 }

 
@media screen and (max-width: 980px) {
section {
		width: 60%;
	}
	aside {
		width: 35%;
	}

}


@media screen and (max-width: 768px) {
	section {
		width: 100%;
	}
	aside {
		width: 100%;
	}
	 header {
 	width: 100%;
 	
  }
nav {
	width: 100%;
}
}
@media screen and (max-width: 640px) {
 
 header {
 	width: 100%;
 	
  }
nav {
	width: 100%;
	
}
#bio-image {
	float: none;
	object-fit: cover;
	height: 400px;
}
}
